{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="features">

        <h1>{{ title }}</h1>
        {% filter upper %}
        <p>текст главной страницы</p>
        {%endfilter%}
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу "про нас"</button></a>
        {% for el in values %}
            {% if el == 'hello' %}

                    <p>{{el|upper}}</p>

            {% endif%}
        {% endfor%}
            <p>{{obj}}</p>
        {% for el in obj %}
            <p>{{el}}</p>
        {% endfor%}

    </div>
{% endblock %}